*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #242A32;
}
.heading{
    text-align: center;
   
    

color: #242A32;
text-align: center;
/* font-family: Montserrat; */
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;

/*text-shadow: -1px 1px 1px #2587be,
                          1px 1px 1px #2587be ,
                         1px -1px 1px #2587be,
                        -1px -1px 1px #2587be ; */

                        -webkit-text-stroke-width: 0.75px;
                        -webkit-text-stroke-color:#2587be;
                        
                        

}
.serbtn{
    
    height: 51px;
    border: none;
    border-radius: 8px;
background: #3A3F47;
    width: 90vw;
  
   
   
    padding-left: 10px;
}
.movie-scr{
    height: 51px;
    margin-top: 20px;
}
.ser{

    display: flex;
    
     display: block;
     margin:auto;
   width: 95vw;
   border-radius: 10px;
    
}
#scr-btn{ 
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: none;
    color: white;
    height: 70px;
    width: 300px;
    margin-top: 30px;
    background-color:#3A3F47;
}
.items{
    /* border: 1px solid red; */
    margin-top:50px;
    margin-left: 20px;
    width: 256px;
height: 373px;
}
.details{
    display: flex;
}
.img{
  margin-left: 30px;
}
.rank{
    margin-top: -80px;
  font-size: 150px;
  color: #242A32;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color:#2587be;
  
}
.name{
    margin-left: 30px;
    margin-top: 20px;
    color: #FFF;
/* font-family: Poppins; */
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.movies{
    margin: auto;
    display: flex;
    align-items: center;flex-wrap: wrap;

}
